@model ProjetoDeBloco.Aplicacao.ViewModels.CursoVM

@{
    ViewBag.Title = "Visualizar de Curso";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Curso", "Index")</li>
    <li class="active">@ViewBag.Title</li>
</ol>


<h2>@ViewBag.Title</h2>

<div>
    <h4>Dados para visualização</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoENome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoENome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Voltar a Consulta", "Index", null, new { @class = "btn btn-default" })
</p>
