@model IEnumerable<ProjetoDeBloco.Aplicacao.ViewModels.ModuloVM>

@{
    ViewBag.Title = "Listagem de Módulos";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Início", "Index", "Home")</li>
    <li>@Html.ActionLink("Módulo", "Index")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo módulo", "Cadastrar", null, new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdBloco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bloco.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class="btn btn-default"}) 
            @Html.ActionLink("Visualizar", "Visualizar", new { id = item.Id }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Remover", "Remover", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
