@model IEnumerable<ProjetoDeBloco.Aplicacao.ViewModels.ModuloVM>

@{
    ViewBag.Title = "Listagem de Módulos";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Início", "Index", "Home")</li>
    <li>@Html.ActionLink("Módulo", "Index")</li>
    <li class="active">@ViewBag.Title</li>
</ol>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo módulo", "Cadastrar", null, new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdBloco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bloco.Nome)
        </td>
        <td>
            <a href="@Url.Action("Editar", "Modulo", new { id = item.Id })" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="@Url.Action("Visualizar", "Modulo", new { id = item.Id })" title="Visualizar"><i class="glyphicon glyphicon-file"></i></a>
            <a href="@Url.Action("Remover", "Modulo", new { id = item.Id })" title="Remover"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
