@model ProjetoDeBloco.Aplicacao.ViewModels.ModuloVM

@{
    ViewBag.Title = "Remover";
}

<h2>Remover Módulo</h2>

<h5>Tem certeza que deseja remover esse registro?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdBloco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bloco.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProfessor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessorTitular.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-primary" />
            @Html.ActionLink("Voltar a consulta", "Index", null, new { @class="btn btn-default"})
        </div>
    }
</div>
