@model ProjetoDeBloco.Aplicacao.ViewModels.QuestaoVM

@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cadastro de Questões</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PerguntaQuestao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.PerguntaQuestao,new { style = "width: 345px; height: 122px;" })
                @Html.ValidationMessageFor(model => model.PerguntaQuestao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resposta1, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:500px">
                @Html.EditorFor(model => model.Resposta1)
                @Html.ValidationMessageFor(model => model.Resposta1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resposta2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resposta2)
                @Html.ValidationMessageFor(model => model.Resposta2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resposta3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resposta3)
                @Html.ValidationMessageFor(model => model.Resposta3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resposta4, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resposta4)
                @Html.ValidationMessageFor(model => model.Resposta4)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resposta5, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resposta5)
                @Html.ValidationMessageFor(model => model.Resposta5)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
