@model IEnumerable<ProjetoDeBloco.Aplicacao.ViewModels.TurmaVM>

@{
    ViewBag.Title = "Listagem de Turmas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nova Turma", "Cadastrar", null, new { @class="btn btn-primary"})
</p>
<table class="table table-hover">
    <tr>
        <th style="width:120px">
            @Html.DisplayNameFor(model => model.Identificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdModulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProfessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alunos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identificador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor.Nome)
            </td>
            <th>
                <table>                    
                    <tbody>
                        @foreach (var aluno in item.Alunos)
                        {
                            <tr>
                                <td>@aluno.Nome</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </th>
            <td>
                <a href="@Url.Action("Editar", "Turma", new { id = item.Id })" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="@Url.Action("Visualizar", "Turma", new { id = item.Id })" title="Visualizar"><i class="glyphicon glyphicon-file"></i></a>
                <a href="@Url.Action("Remover", "Turma", new { id = item.Id })" title="Remover"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
    }

</table>
