@model IEnumerable<ProjetoDeBloco.Aplicacao.ViewModels.TurmaVM>

@{
    ViewBag.Title = "Listagem de Turmas";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nova Turma", "Cadastrar", null, new { @class="btn btn-primary"})
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Identificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdModulo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Identificador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", null, new { id = item.Id, @class = "btn btn-default" }) 
                @Html.ActionLink("Visualizar", "Details", null, new { id = item.Id, @class = "btn btn-default" })
                @Html.ActionLink("Remover", "Delete", null, new { id = item.Id, @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
