@model ProjetoDeBloco.Aplicacao.ViewModels.ProfessorVM

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Tem certeza que deseja excluir esse registro?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaDeFormacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaDeFormacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoDeFormacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoDeFormacao)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-primary" /> 
            @Html.ActionLink("Voltar a consulta", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
