@model ProjetoDeBloco.Aplicacao.ViewModels.ProfessorVM

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaDeFormacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaDeFormacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoDeFormacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoDeFormacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Voltar a consulta", "Index", null, new { @class="btn btn-default"})
</p>
