@model ProjetoDeBloco.Aplicacao.ViewModels.AdministradorVM

<h5>Dados do Coordenador:</h5>
<div>
    <dl class="dl-horizontal">

        @Html.HiddenFor(model => model.Id, new { id = "idCoordenadorDado" })

        @if (Model.Matricula != 0)
        {
            <dt>
                Matricula
            </dt>

            <dd>
                @*@Html.TextBoxFor(model => model.Matricula, new { id = "matriculaCoordenador" })*@
                <label id="matriculaCoordenador">@Model.Matricula</label>
            </dd>
        }

        <dt>
            Nome
        </dt>

        <dd>
            @*@Html.TextBoxFor(model => model.Nome, new { id = "nome" })*@
            <label id="nome">@Model.Nome</label>
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            @*@Html.TextBoxFor(model => model.Email, new { id = "emailUsuario" })*@
            <label id="emailUsuario">@Model.Email</label>
        </dd>

        <dt>
            Data de Nascimento
        </dt>

        <dd>
            @*@Html.TextBoxFor(model => model.DataNascimento, new { id = "dataNascimento" })*@
            <label id="dataNascimento">@Model.DataNascimento</label>
        </dd>

    </dl>
</div>
