@model IEnumerable<ProjetoDeBloco.Aplicacao.ViewModels.BlocoVM>

@{
    ViewBag.Title = "Listagem de blocos";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Html.ActionLink("Bloco", "Index")</li>
</ol>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo bloco", "Cadastrar", null, new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCurso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.CodigoENome)
        </td>
        <td>
            <a href="@Url.Action("Editar", "Bloco", new { id = item.Id })" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="@Url.Action("Visualizar", "Bloco", new { id = item.Id })" title="Visualizar"><i class="glyphicon glyphicon-file"></i></a>
            <a href="@Url.Action("Remover", "Bloco", new { id = item.Id })" title="Remover"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
