@model ProjetoDeBloco.Aplicacao.ViewModels.AdministradorVM

@if (Model != null && Model.Usuario.Id == Guid.Empty)
{
    @Html.HiddenFor(model => model.Usuario.Id)
}

<div class="form-group">
    @Html.LabelFor(model => model.Usuario.Email, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Usuario.Email, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Usuario.Login, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Usuario.Login, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Usuario.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.PasswordFor(model => model.Usuario.Senha, new { @class = "form-control" })
    </div>
</div>
