@model ProjetoDeBloco.Aplicacao.ViewModels.AdministradorVM

@{
    ViewBag.Title = "AtivarCoordenador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AtivarCoordenador</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AdministradorVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Situacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ativar" class="btn btn-primary" /> |
            @Html.ActionLink("Voltar a página de consulta", "Index")
        </div>
    }
</div>
