@model ProjetoDeBloco.Aplicacao.ViewModels.AdministradorVM

@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuarioLogado = Session["UsuarioLogado"] != null ? Session["UsuarioLogado"].ToString().ToUpper() : null;
}

<h2>Visualizar</h2>

<div>
    <h5>Dados do Coordenador</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Situacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-default"}) 

    @if (usuarioLogado == "admin")
    {
        @Html.ActionLink("Voltar a página de consulta", "Index", new { @class = "btn btn-default"})
    }
</p>
