@model IEnumerable<ProjetoDeBloco.Aplicacao.ViewModels.AvaliacaoVM>

@{
    ViewBag.Title = "Listagem de Avaliações";
}

<h2>Listagem de Avaliações</h2>

<p>
    @Html.ActionLink("Nova Avaliação", "Cadastrar", null, new { @class = "btn btn-primary" })
</p>
<p class="pull-right">
    <a href="@Url.Action("EnviarAvaliacao","Avaliacao")" class="btn btn-primary">Dispara e-mail</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dtInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objAvaliacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTurma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Questoes)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dtInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objAvaliacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.turma.Identificador)
        </td>


        <th style="width:487px">
            <table>
                <tbody>
                    @foreach (var questao in item.Questoes)
                    {
                        <tr>
                            <td>@questao.PerguntaQuestao</td>
                        </tr>
                    }
                </tbody>
            </table>
        </th>
        


        <td>
            <a href="@Url.Action("Editar", "Avaliacao", new { id = item.Id })" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="@Url.Action("Visualizar", "Avaliacao", new { id = item.Id })" title="Visualizar"><i class="glyphicon glyphicon-file"></i></a>
            <a href="@Url.Action("Remover", "Avaliacao", new { id = item.Id })" title="Remover"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
